@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

.App {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}